@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Permanent+Marker&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}
body {
  overflow: hidden;

  background: rgb(228, 228, 228);
}

.one {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.bg,
.bg-2,
.bg-3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg {
  -webkit-clip-path: polygon(74% 68%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(74% 68%, 100% 0%, 100% 100%, 0% 100%);
  background: rgb(84, 84, 104);
  z-index: -1;
}

.bg-2 {
  -webkit-clip-path: polygon(53% 74%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(53% 74%, 100% 0, 100% 100%, 0% 100%);
  z-index: -2;
  background: rgb(56, 53, 109);
}
.bg-3 {
  -webkit-clip-path: polygon(
    0 0,
    20% 0,
    50% 40%,
    80% 0,
    100% 0,
    65% 47%,
    100% 100%,
    80% 100%,
    50% 60%,
    20% 100%,
    0 100%,
    36% 51%
  );
  clip-path: polygon(
    0 0,
    20% 0,
    50% 40%,
    80% 0,
    100% 0,
    65% 47%,
    100% 100%,
    80% 100%,
    50% 60%,
    20% 100%,
    0 100%,
    36% 51%
  );

  background: rgba(15, 15, 15, 0.2);
  z-index: -2;
  top: 0;
}
.text-grad {
  background-image: linear-gradient(rgb(56, 53, 109), black);
  background-clip: text;
  color: transparent;
}

.keyf {
  animation: color 800ms alternate infinite ease-in-out;
}
@keyframes color {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.7;
  }
}

h1.head {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: px;
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shadow {
  position: relative;
  margin-bottom: 20px;
}
.rule-box {
  margin-bottom: 50px;
}

.rule-box h1 {
  color: white;
  background: #ec0b36;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7),
    -3px -3px 8px rgba(240, 240, 240, 0.7);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 22px;
  position: absolute;
  transform: translate(-50%, -40%);
  left: 50%;
  letter-spacing: 3px;
}

.rule-box p {
  line-height: 40px;
  max-width: 800px;
  font-size: 20px;
  background: rgb(228, 228, 228);
  box-shadow: 3px 3px 5px rgba(65, 65, 65, 0.7),
    3px 3px 5px rgba(245, 245, 245, 0.6);
  border-radius: 20px;
  min-height: 20vh;
  padding: 40px 40px;
}
.playerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  display: flex;
}

input {
  font-size: 25px;
  text-align: center;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 4px solid rgb(71, 11, 69);
  outline: none;

  transition: border-bottom 300ms ease-in-out;
  color: black;
}

input:focus {
  padding: 10px 0;

  color: black;
  border-bottom: 4px solid #127399;
  font-weight: bold;
}

.vs {
  font-size: 60px;
  margin: 0px 10px;
  font-family: "Permanent Marker", cursive;
}
.btns {
  display: flex;
}
.btn a {
  position: relative;
  text-decoration: none;
  background: black;
  color: white;
  padding: 15px 15px;
  width: 180px;
  letter-spacing: 1px;
  border: 0.2px solid crimson;
  transition: 0.5s;
  font-size: 18px;
}
.btn a:hover {
  background: #ec0b36 url(./pixel.png);
  transition-delay: 600ms;
  background-size: cover;
  animation: pixelate 600ms steps(5) forwards;
}

@keyframes pixelate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}

.toss {
  display: block;
}

.coin {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url(./coin.png);
  background-size: cover;
  position: absolute;
  bottom: -20vh;
  visibility: hidden;
  opacity: 0;
}
.coin-toss {
  visibility: visible;

  animation: toss 2s ease-out;
  opacity: 1;
  transform-style: preserve-3d;
}
.coin-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 500px;
}

@keyframes toss {
  0%,
  100% {
    transform: rotateX(90deg);
    bottom: 0px;
  }
  3%,
  97% {
    transform: rotateX(1080deg);
    color: transparent;
    bottom: 0px;
  }

  10%,
  90% {
    transform: rotateX(1440deg);
    bottom: 130px;
    color: transparent;
  }
  20%,
  80% {
    transform: rotateX(1080deg);
    bottom: 180px;
    color: transparent;
  }
  30%,
  70% {
    transform: rotateX(1440deg);
    bottom: 220px;
    color: transparent;
  }
  40%,
  60% {
    transform: rotateX(1080deg);
    color: transparent;
    bottom: 250px;
  }
  50% {
    transform: rotateX(1440deg);
    color: transparent;
    bottom: 270px;
    animation-timing-function: ease-in;
  }
  /* 60% {
    transform: rotateX(1080deg);
    color: transparent;
  }
  70% {
    transform: rotateX(1440deg);
    color: transparent;
  }
  80% {
    transform: rotateX(1080deg);
    color: transparent;
  }
  90% {
    transform: rotateX(1440deg);
    color: transparent;
  }
  100% {
    transform: rotateX(1170deg);
    color: transparent;
  } */
}

.popup,
.popup2 {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d7dde8, #757f9a);

  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6),
    -6px -6px 10px rgba(255, 255, 255, 0.6);
  padding: 50px;
  z-index: 100;
  height: 400px;
  min-width: 600px;
  border-radius: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  pointer-events: none;
  transition: transform 500ms ease-in-out;
}
.pointer {
  pointer-events: all;
}
.blur {
  filter: blur(5px);
  pointer-events: none;
}
.popup p,
.popup2 p {
  font-size: 30px;
  margin-bottom: 40px;
}
.popup a,
.popup2 a {
  text-decoration: none;
  background: black;
  color: white;
  padding: 15px;
  letter-spacing: 1px;
  transition: 0.5s;
  font-size: 20px;
  width: 180px;
  text-align: center;
  border: 0.2px solid crimson;
}
.popup a {
  border: 0.2px solid #730bec;
  box-shadow: 0 0 10px #730bec;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
.popup a:hover {
  background: #730bec url(pixel2.png);
  transition-delay: 600ms;
  background-size: cover;
  animation: pixelate 600ms steps(5) forwards;
}

.popup2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d7dde8, #757f9a);
}
.popup2 p {
  color: crimson;
}

.popup2 a:hover {
  display: block;
  background: #ec0b36 url(pixel.png);
  transition-delay: 600ms;
  background-size: cover;
  animation: pixelate 600ms steps(5) forwards;
}

/* -----------Section two ----------*/

.bg-x {
  position: absolute;
  z-index: -6;
  width: 100%;
  height: 100%;
  background: #757f9a;
  background: -webkit-linear-gradient(to right, #d7dde8, #757f9a);
  background: linear-gradient(to right, #d7dde8, #757f9a);

  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}
.two {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.chance {
  font-size: 40px;
  color: white;
  text-shadow: 0 2px crimson;
  margin-bottom: 50px;
}
.board {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.cell {
  height: 100px;
  width: 100px;
  /* background: white; */
  border: 3px dotted rgb(28, 46, 150);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4) {
  border-top: none;
}
.cell:last-child,
.cell:nth-child(15),
.cell:nth-child(14),
.cell:nth-child(13) {
  border-bottom: none;
}
.cell:nth-child(4),
.cell:nth-child(8),
.cell:nth-child(12),
.cell:nth-child(16) {
  border-right: none;
}
.cell:nth-child(1),
.cell:nth-child(5),
.cell:nth-child(9),
.cell:nth-child(13) {
  border-left: none;
}

.cell.x:hover {
  cursor: not-allowed;
}
.cell.x::before,
.cell.x::after {
  content: "";
  position: absolute;
  height: 90px;
  width: 10px;
  border-radius: 10px;
  background: crimson;
  box-shadow: 0px 0px 4px rgba(26, 26, 26, 0.9);
}

.cell.x::after {
  transform: rotate(45deg);
}
.cell.x::before {
  transform: rotate(-45deg);
}
.board .cell:not(.cell.x):hover::after,
.board .cell:not(.cell.x):hover::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 10px;
  border-radius: 10px;
  background: rgba(68, 112, 179, 0.6);
}

.board .cell:hover::after {
  transform: rotate(45deg);
}
.board .cell:hover::before {
  transform: rotate(-45deg);
}

.final-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final-msg.show {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(8, 4, 31, 0.9);
}
[data-text] {
  display: none;
  color: crimson;
  font-size: 60px;
  margin-bottom: 100px;
  text-shadow: 2px 2px rgba(23, 41, 207, 0.5);
}

.final-msg.show [data-text] {
  display: block;
}
.two .btns {
  display: flex;
}
.final-msg.show a {
  display: block;
  padding: 13px;
  margin: 40px 20px;
}
.final-msg a {
  display: none;
  font-size: 24px;
  background: black;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  width: 180px;
  border: 0.2px solid #0b0fec;
  box-shadow: 0 0 50px #730bec, inset 0px 0px 10px #730bec;
  font-family: "Balsamiq Sans", cursive;
  transition: all 300ms ease;
}

.final-msg.show a:hover {
  border: none;
  border: 0.2px solid #0b0fec;
  box-shadow: 0 0 70px #730bec;
  background: #730bec url(pixel2.png);
  transition-delay: 600ms;
  background-size: cover;

  animation: pixelate 600ms steps(5) forwards;
}
@keyframes pixelate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}

@media screen and (max-width: 768px) {
  h1.head {
    font-size: 50px;
    margin-bottom: 70px;
    margin-top: 20px;
  }
  .rule-box {
    margin-bottom: 100px;
  }
  .rules-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vs {
    font-size: 40px;
    margin: 0px 10px;
    font-family: "Permanent Marker", cursive;
  }

  input {
    width: 200px;
  }

  input:focus {
    border-bottom: 3px solid #127399;
  }
  .playerbox {
    margin-bottom: 100px;
  }
  .popup,
  .popup2 {
    height: 300px;
    min-width: 425px;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    transition: transform 500ms ease-in-out;
  }
  .pointer {
    pointer-events: all;
  }
  .blur {
    filter: blur(5px);
    pointer-events: none;
  }
  .popup p,
  .popup2 p {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .popup a,
  .popup2 a {
    padding: 10px 5px;
    font-size: 18px;
    width: 140px;
  }
  .cell {
    height: 70px;
    width: 70px;
    /* background: white; */
  }
  .cell.x {
  }
  .cell.x::before,
  .cell.x::after {
    height: 60px;
    width: 7px;
  }
  .board .cell:not(.cell.x):hover::after,
  .board .cell:not(.cell.x):hover::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 7px;
    border-radius: 10px;
    background: rgba(68, 112, 179, 0.6);
  }
  .final-msg a {
    display: none;
    font-size: 20px;
    background: black;
    color: white;
    text-decoration: none;
    text-align: center;
    border: none;
    width: 120px;
    border: 0.2px solid #0b0fec;
    box-shadow: 0 0 50px #730bec, inset 0px 0px 10px #730bec;
    font-family: "Balsamiq Sans", cursive;
    transition: all 300ms ease;
  }
}

@media screen and (max-width: 468px) {
  h1.head {
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .rule-box {
    margin-bottom: 50px;
  }

  input {
    font-size: 16;
    width: 120px;
  }

  input:focus {
    border-bottom: 3px solid #127399;
  }
  .playerbox {
    margin-bottom: 50px;
  }
  .rule-box p {
    line-height: 30px;
  }
  .btn a {
    padding: 15px 10px;
    width: 120px;
    letter-spacing: 1px;
    font-size: 16px;
  }
  .popup,
  .popup2 {
    height: 350px;
    min-width: 100px;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    transition: transform 500ms ease-in-out;
  }
  .pointer {
    pointer-events: all;
  }
  .blur {
    filter: blur(5px);
    pointer-events: none;
  }
  .popup p,
  .popup2 p {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .popup a,
  .popup2 a {
    padding: 10px 4px;
    font-size: 16px;
    width: 120px;
    margin-left: 20px;
  }
}
